<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>content 생성</h3>

<form>
    <label for="title">title</label>:
    <input type="text" id="title" name="title" autofocus="autofocus" /> <br />
    <label for="contents">content</label>:
    <textarea id="contents" name="contents" autofocus="autofocus"></textarea> <br />
    <label for="type">type</label>:
    <select id="type" name="type">
        <option value="MOVIE">영화</option>
        <option value="MUSIC">음악</option>
    </select> <br/>
    <label for="minValue">minValue</label>:
    <input type="number" id="minValue" name="minValue" /> <br />
    <label for="maxValue">maxValue</label>:
    <input type="number" id="maxValue" name="maxValue" /> <br />
</form>
<button id="submit">생성</button>
<button th:onclick="|location.href='@{/admin/contents}'|">취소</button>

<script type="text/javascript">
    const token = localStorage.getItem("bearerToken")
    const METHOD = {
        POST(data) {
            return {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({
                    ...data
                })
            }
        }
    }
    const request = (uri, config) => fetch(uri, config).then(data => data.json())

    const $submitBtn = document.querySelector('#submit')
    const $title = document.querySelector('#title')
    const $contents = document.querySelector('#contents')
    const $type = document.querySelector('#type')
    const $minValue = document.querySelector('#minValue')
    const $maxValue = document.querySelector('#maxValue')

    function validateFields(title, contents, type, minValue, maxValue) {
        if (!title || !contents || !type || !minValue || !maxValue) {
            alert('모든 필드는 필수 값입니다')
            return null
        }

        return {title, contents, type, minValue, maxValue}
    }

    const create = async event => {
        if (event.key && event.key !== KEY_TYPE.ENTER) {
            return
        }
        event.preventDefault()

        const data = validateFields($title.value, $contents.value, $type.value, $minValue.value, $maxValue.value)
        if (data == null) {
            return
        }
        await request(`/admin/v1/contents`, METHOD.POST(data))
            .then((response) => {
                if (response.statusCode >= 400) {
                    alert(response.data)
                    return
                }
                alert('생성 성공')
                window.location.href = '/admin/contents'
            }).catch(() => {
                console.log('failed')
                alert('생성 중 문제가 발생했습니다')
            })
    }
    $submitBtn.addEventListener('click', create)
</script>
</body>
</html>